.{
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #66BFBF;
    color: white;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color:white;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: turquoise;

}
.shalom{
    padding-left: 10%;
}
.navbar:hover{
    background-color: #E4F9F5;

}
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    padding: 0;
    font-family: 'merriweather',serif;
}
h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    margin-top: 0%;
    font-family: 'sacramento',cursive;
}
h2{
    color: #66BFBF;
    font-family: 'montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'montserrat',sans-serif;
}
p{
    line-height: 2;
    width: 30%;
    margin: auto;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px ;
}
.middle-container{
    margin: 100px;
    
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
    padding-bottom: 100px;
    margin-top: 100px;
}

.top-cloud {
        position:absolute;
        right: 300px;
        top: 50px;
        
        
    
}
.bottom-cloud {
    position:absolute;
    left: 300px;
    bottom: 300px;
}

hr{
    border: dotted #EAF6F6 6PX;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.skill-row{
    width: 50%;
    margin:40px auto 60px;

}
.code-img{
    width: 25%;
    float: left;
    margin-right: 5px;

}
.code-img2{
    width: 25%;
    float: right;
    margin-left: 8px;
}
.last1{
    text-align: left;
}
.last2{
    text-align: right;
}

.intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin:40px auto 60px;
}
.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.copyright:hover{
    color: paleturquoise;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
    
.btn{
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4,#11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e) ;
        background-image: -ms-linear-gradient(top, #11cdd4,#11999e);
        background-image: -o-linear-gradient(top, #11cdd4,#11999e);
        background-image: linear-gradient( bottom, #11cdd4,#11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'montserrat', sans-serif;
        color:#ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
.btn:hover{
    background: #30e3cb;
    background-image: -webkit-linear-gradient(#30e3cd, #2bc4ad);
    background-image: -moz-linear-gradient(top #30e3cd, #2bc4ad) ;
    background-image: -ms-linear-gradient(top#30e3cd, #2bc4ad)  ;
    background-image: -o-linear-gradient(top#30e3cd, #2bc4ad);
    background-image: linear-gradient( bottom#30e3cd, #2bc4ad);
    text-decoration: none;
}

a{ color:#11999E;
    margin: 10px 20px;
    
}
a:hover{
      color: whitesmoke ;
      
}
    
        
        

    

